

*{
    padding:0%;
    margin:0%;
}
nav{
    background-color: rgb(122, 117, 117);
    color:white;
    padding:5px;
}
h1,ul,li{
    display:inline;
}
ul{
    margin-left: 60%;
    cursor:pointer;
    
}
h1{
    margin-left: 10px;
    
}
li:hover{
    
}
li{
    padding-left: 50px;
    padding-bottom: 10px;
}
.search{
    margin-left:50px;
    padding:20px;
    text-align:center;
    
}
.big{
    padding-top: 50px;
}
input{
    padding:20px;
    padding-right: 700px;
}
.box{
    border-color:black;
    border-width:2px;
    border-style:solid;
    width:180px;
    display:inline-block;
    margin-left:5px;
}
.product{
    display:inline;
}
.box2{
    border-color:black;
    border-width: 2px;
    border-style:solid;
    
    display:inline-block;
    width: 433px;
    height:180px;
    margin-top: 20px;
    margin-left: 20px;
}
.product2{
    display:inline;
}
body{
    
}
.box:hover{
    background-color:black;
    color:yellow;
}
.About{
    margin-top:10px;
    text-align: center;
    padding:10px;
}
.one:hover{
    background-color: black;
    color:yellow;

}
.contact{
    text-align: center;
}
.links a {
    text-decoration: none;
    color:white;
}
.links{
    padding-bottom: 20px;
    padding-top: 20px;
}
li:hover{
    background-color: rgb(50, 50, 41);
    color:rgb(55, 54, 54);
    width:10px;
    height: 70px;
     }
body{
    background-image: url('wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass copy.jpg');
    background-size: cover;
   
}
.n{
    position: fixed;
    padding-bottom: 8px;
    font-family: algerian;
    padding-bottom: 2px;
}

